.toppage-container{
    display: flex;
    flex-direction: column;
}

.toppage-para{
    width: 90vw;
    align-self: center;
    font-size: 14px;
}

.toppage-buttons > button{
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    background-color: transparent;
}

.toppage-heading{
    padding: 0;
}